.container {
    max-width: 1000px;
    margin: auto;
}
.card {
    padding: 10px; 
    margin: 20px;
    height: 400px;
    background-color: rgb(119, 86, 86);
    text-align: center;
    border-radius: 10px;
  }
  
  h2 {
  color: white; 
  font-style: italic;
  }
  
  img {
    width: 150px;
    height: 190px;
    border-radius: 5px;
    border: 2px solid grey;
  }
  
  .button {
  cursor: pointer;
  padding: 10px; 
  margin: 20px; 
  height: 400px; 
  background-image: url('/L&M.jpg');
  background-repeat: no-repeat;
  background-position: 10% 100%;
  font-size: 30px;
  text-align: center;
  display: flex; 
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgb(119, 86, 86);
  }